*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #101010;
}
.title{
  color: #f6546a;
  padding: 10px;
  margin-bottom: 20px;
}
.win{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 170px;
    font-size: 30px;
    font-weight: 600;
    gap: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(195, 141, 158, 0.863);
    padding: 10px;
    border-radius: 10px;
}
.win-text{
  color: white;
  position: relative;
  text-align: center;
}
.resetBtn{
  padding: 10px 30px;
  font-size: 18px;
  background: #101010;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
}
.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.btn{
  width: 150px;
  height: 150px;
  border: 2px solid #f6546a;
  color: aqua;
  font-size: 25px;
  font-weight: 600;
  background: initial;
}
.status-sec{
  margin-top: 50px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #f6546a;
  font-size: 18px;
  color: #f6546a;
}
@media (max-width: 768px) {
  .btn{
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 600px) {
  .btn{
    width: 100px;
    height: 100px;
  }
}
